.exit-icon{
    font-size: 34px; 
}

ion-grid {
    margin-top: 10em;

    .high-score, .score {
        text-align: center;
        ion-title {
            font-size: 34px;
        }
    }
    .walk-stop-icon {
        text-align: center;
        ion-icon {
            font-size: 115px; 
            .walk {
                color: green;
            }
            .stop {
                color: red;
            }
        }
    }
}