<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
     Hi {{player.name}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exit()">
        <ion-icon class="exit-icon" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>

    <ion-row>
      <ion-col class="high-score" size="12">
        <ion-title size="large">High Score: {{player.highScore}}</ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="walk-stop-icon" size="6" offset="3">
        <ion-icon *ngIf="walk" class="walk" name="walk" color="success"></ion-icon>
        <ion-icon *ngIf="!walk" class="stop" name="hand-right" color="danger"></ion-icon>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="score" size="12">
        <ion-title size="large">Score: {{player.score}}</ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button (click)="step('left')" expand="block" size="large" color="secondary">
          <ion-icon slot="start" name="footsteps"></ion-icon>
          Left
        </ion-button> 
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="step('right')" expand="block" size="large" color="secondary">
          Right
          <ion-icon slot="end" name="footsteps"></ion-icon>
        </ion-button>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
