ion-content {
    display: flex;
    justify-content: center;

    .login {
        width: 80%;
        margin: auto;
        margin-top: 10em;
        ion-icon{
            font-size: 64px; 
            width: 100%;
        }
        .home-txt{ 
           margin-bottom: 20px;
           text-align: center;
    
        }
        .join-btn {
            margin-top: 20px;
            ion-button {
                width: 100%;
            }
        }
    }
}