<ion-content [fullscreen]="true" color-theme="dark">
    <div class="login">
        <ion-item>
            <ion-icon name="game-controller" color="tertiary"></ion-icon>
        </ion-item>

        <h1 class="home-txt">Create new player</h1>

        <ion-item fill="outline" mode="md" class="name-input">
            <ion-label position="stacked" color="secondary">Name*</ion-label>
            <ion-input [(ngModel)]="name"></ion-input>
        </ion-item>

        <ion-item class="join-btn">
            <ion-button [class.button-disabled]="name.length == 0" (click)="join()" color="secondary" expand="block"
                size="large">
                JOIN
            </ion-button>
        </ion-item>
    </div>

</ion-content>